@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url("https://use.typekit.net/onl2mwg.css");
:root {
    /*color*/
    --white-color:#fff;
    --k100-color:#F6F7F8;
    --k200-color:#E6E6E6;
    --k300-color:#B0B0B0;
    --k400-color:#666666;
    --k500-color:#484848;
    --k600-color:#343434;
    --k700-color:#222222;
    --k800-color:#161616;
    --k900-color:#000000;
    --b900-color:#1A51E6;
    --r900-color:#FA0102;
    --p900-color:#FEA8B2;
    --g900-color:#22C51F;

    /*font-size*/
    --xl-font-size:4rem; /*64px*/
    --h1-font-size:2.5rem; /*40px*/
    --h2-font-size:2rem; /*32px*/
    --h3-font-size:1.75rem;/*28px*/
    --h3-font-size:1.5em;/*24px*/
    --h4-font-size:1.25rem; /*20px*/
    --large-font-size:1.125rem;/*18px*/
    --medium-font-size:1rem; /*16px*/
    --small-font-size:0.875rem; /*14px*/
    --xs-font-size:0.75rem; /*12px*/
    
    /* 여백 */
    --xxs-bottom: 0.5rem;/*8px*/
    --xs-bottom: 1rem;/*16px*/
    --s-bottom:1.75rem;/*28px*/
    --small-bottom: 2.5rem;/*40px*/
    --regular-bottom: 3.75rem;/*60px*/
    --medium-bottom: 5rem;/*80px*/
    --large-bottom: 7.5rem;/*120px*/
    --xl-bottom: 10rem;/*160px*/
}
/* 사용법 : var()<-안에 변수명 */
body{color: var(--k800-color); font-family: "Pretendard Variable",Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
h1{font-size: var(--h1-font-size);}
h2{font-size: var(--h2-font-size);font-weight: bold;}
h3{font-size: var(--h3-font-size);}
h4{font-size: var(--h4-font-size);}
h5{font-size: var(--h5-font-size);}
p{font-size: var(--small-font-size);line-height:24px;}
a{font-size: var(--small-font-size); display: inline-block;}
a:hover{color: var(--b900-color); cursor: pointer;}

/*공통클래스*/
.screen_out{ overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px;}
/*솔트레인 폰트*/
.dc_txt{font-size: var(--xl-font-size); font-family: "urbane-condensed", sans-serif; font-weight: 700; font-style: normal;}