@charset "utf-8";
/* loading */
.wait_load{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_slider, .bg_video{
    position: relative;
    width: 100%;
    z-index: 1;
}
.main_slider {
    padding: 0;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--k900-color);
    margin-bottom: var(--large-bottom);
}

.bg_video {
    height: 100vh;
    right: 0;
    bottom: 0;
}

.bg_video_content {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.box_logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    mix-blend-mode: difference;
    perspective: 500px;

}
.box_logo img{
    object-fit: cover;
    object-position: center center;
    width:100%;
}

.scrollSafe{
    margin: 0;
    padding: 0;
    height: calc(100vh);
}

.brand{
    height: 100vh;
    margin-bottom: var(--large-bottom);
}
.brand img{
    width:100%;
}
.brand_txt {
    margin-bottom: var(--small-bottom);
}

.brand_txt h3 {
    display: block;
    font-size: var(--h4-font-size);
    font-family: "urbane-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 0;
    margin-bottom: var(--small-bottom);
}

.brand_txt span {
    color: var(--white-color);
    padding: 0 40px;
    box-sizing: border-box;
    background: var(--b900-color);
}

.brand_txt h2 {
    padding-top: var(--s-bottom);
    line-height: 3rem;
    margin-bottom: var(--small-bottom);
}

.linear_bg {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(52, 52, 52, 1) 63%, rgba(26, 81, 230, 1) 100%);
    color: var(--white-color);
    border-radius: 2em 2em 0 0;
    position: relative;
}

/* 3.goods */
.goods {
    padding: var(--large-bottom) 0;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.goods h2 {
    margin-bottom: var(--small-bottom);
}

.goods_txt {
    text-align: center;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.goods_list {
    height: 100vh;
    position: relative;
    z-index: 3;
}

.img_card{
    width: 250px;
    height: 250px;  
    position: absolute;
    }
    
    .img_card .inner-container {
        will-change: transform;
    }
    
    .img_card img {
        max-width: 100%;
        will-change: transform;
    }
    
    #del1 {
        top: 50vh;
        left: 10vw;
    }
    #del2 {
        top: 80vh;
        left: 60vw;
    }
    #del3 {
        top: 100vh;
        left: 30vw;
    }
    #del4{
        top: 60vh;
        right: 10vw;
    }
    #del5{
        top: 110vh;
        right: 60vw;
    }
    #del6{
        top: 120vh;
        right: 30vw;
    }

.goods_list img{
    width: 100%;
}

/* 4.collabo */
.collaboration{
    height: 100vh;
    padding: var(--medium-bottom) 0;
    box-sizing: border-box;
}

.collabo_txt_wrap{
    max-width: 1280px;
    margin: 0 auto; 
}

.collabo_txt span {
    width: 428px;
    padding: 0 40px;
    box-sizing: border-box;
    background: var(--b900-color);
}

.collabo_txt p {
    font-size: var(--h4-font-size);
    line-height: 1.875rem;
    padding-top: 3rem;
    box-sizing: border-box;
    margin-bottom: var(--large-bottom);
}
.collabo_list{
    width: 100vw;
    overflow: hidden;
}
.collabo_inner{
    position: relative;
    display: flex;
    align-items: center;
    height: 456px;
    max-width: 1280px;
    margin: 0 auto;
}
.collabo_slider{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}
.collabo_slider li{
    overflow: hidden;
    margin-right: 60px;
}
.collabo_slider li a {
    width: 820px;
    display: block;
}
.collabo_slider img{
    width: 100%;
}
/* 5.products */
.products {
    padding: var(--medium-bottom) 0;
}

.products_txt {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: space-between;
    margin-bottom: var(--medium-bottom);
}

.products_txt a {
    display: block;
    width: 120px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--white-color);
    font-family: "urbane-condensed", sans-serif;
    font-weight: 700;
    font-size: var(--h4-font-size);
    color: var(--white-color);
}
.products_slider{
    margin-bottom: var(--large-bottom);
}

.products_slider .slide_cont a{
    width:400px;
    display: block;
}

.products_slider .slide_cont a img{
    width: 100%;
}

.deco_big_logo {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: var(--xl-bottom);
}

.deco_big_logo img{
    width: 100%;
}