@charset "utf-8";
*,html,body,header,main,footer,nav,div,span,section,article,
h1,h2,h3,h4,h5,h6,p,ul,li,a,dl,dt,dd,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
iframe,video,img{
padding: 0;
margin: 0;
border: 0;
font: inherit;
}
body {
    min-height: 100vh;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}